In [32]:
import pandas as pd
import numpy as np

In [33]:
concentrations = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv', delimiter=",")

In [34]:
concentrations

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [35]:
concentrations.groupby('genus').mean()

C:\Users\pvolk\AppData\Local\Temp\ipykernel_1940\2737812142.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  concentrations.groupby('genus').mean()

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

Пользуясь предыдущими данными, укажите через пробел (без запятых) чему равны минимальная, средняя и максимальная концентрации аланина (alanin) среди видов рода Fucus. Округлите до 2-ого знака, десятичным разделителем является точка.

In [36]:
concentrations.loc[concentrations['genus'] == 'Fucus'][['species', 'alanin']].round(2).sort_values('alanin')

             species  alanin
2     Fucus_serratus    0.35
0  Fucus_vesiculosus    3.71
3    Fucus_distichus    6.64

In [37]:
concentrations.loc[concentrations['genus'] == 'Fucus'][['species', 'alanin']]['alanin'].mean().round(2)

3.57

Сгруппируйте данные по переменной group и соотнесите вопросы с ответами

Размах (максимум - минимум) сахарозы в бурых, зелёных и красных водорослях

In [38]:
concentrations.groupby('group')['glucose'].max() - concentrations.groupby('group')['glucose'].min()

group
brown    3.740495
green    1.026753
red      0.000000
Name: glucose, dtype: float64

Число видов бурых, зелёных и красных водорослей

In [48]:
concentrations.groupby('group')['species'].count()

group
brown    6
green    3
red      1
Name: species, dtype: int64

Дисперсия концентрации цитрата в бурых, зелёных и красных водорослях

In [ ]:
concentrations.groupby('group')['citrate']